<div class="container mt-5 bg-primary">
  <div class="row">
    <div class="col-sm-6 px-0 col-md-5 col-lg-5">
      <div class="card">
        <div class="card-body line-hgt">
          <p class="card-text">Created by: {{username}}</p>
          <p class="card-text">Created At : {{createdAt}}</p>
          <p class="card-text">Language: {{languages}}</p>
          <p class="card-text">Code description: {{codeDescription}}</p>
          <p class="card-text">Price: {{price}}</p>
          <p class="card-text">Keywords: {{keywords}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-5 px-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Code</h5>
          <p class="card-text">{{codesnip}}</p>
        </div>
      </div>
    </div>
  </div>
</div>